.blue {
  background-color: #423189;
}

.width60 {
  width: 60%;
  margin: 0 auto;
}

.red {
  background-color: red;
  min-height: 100px;
}

.green {
  background-color: #00b38f;
  text-align: center;
  margin: 0 auto;
}

.margin {
  margin-top: 5%;
}
