* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.blue {
  background-color: #423189;
}

.width60 {
  width: 60%;
  margin: 0 auto;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.red {
  background-color: red;
  min-height: 100px;
  border: 1px solid black;
}

header .navbar-default {
  border: 0;
}

header .navbar-default .navbar-brand {
color: white;
font-size: 20px;
margin: 5% 0;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  line-height: 50px;
}

.green {
  background-color: #00b38f;
}

.margin {
  text-align: center;
  padding: 5% 0;
}

.width50 {
  width: 50%;
  margin: 0 auto;
}

#fix {
  text-align: left;
}

.lineum {
  background-color: #66a1cd;
}


@media (max-width: 768px) {
  .width60 {
    width: 100%;
  }

  .width50 {
    width: 100%;
  }

  #fix {
    padding: 0 20%;
  }

}
