* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.blue {
  background-color: #423189;
}

.width60 {
  width: 60%;
  margin: 0 auto;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

header .navbar-default {
  border: 0;
}

header .navbar-toggle {
  margin-top: 33px;
}

header .navbar-default .navbar-brand {
  color: white;
  font-size: 20px;
  margin: 5% 0;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  line-height: 50px;
}

.row h1 {
  font-size: 70px;
}

.row h3 {
  font-size: 20px;
  color: white;
}

.green {
  background-color: #00b38f;
}

.fixedfix {
  margin-top: 74px;
}

.margin {
  text-align: center;
  padding: 3% 0;
}

.myborder {
  width: 130px;
  height: 10px;
  border-top: 3px solid white;
  margin: auto;
  display: inline-block;
}

.row i {
  width:100px;
  font-size: 30px;
  line-height: 30px;
  color: white;
}

.row h2 {
  font-size: 60px;
}

#myfix1 {
  color: black;
}

.myborder2 {
  width: 130px;
  height: 10px;
  border-top: 3px solid black;
  margin: auto;
  display: inline-block;
}

div.width60 .row img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.green .container-fluid .row h2{
  color: white;
}

.width50 {
  width: 50%;
  margin: 0 auto;
}

div.width50 .row p {
  color: white;
  text-align: left;
  font-size: 18px;
  margin-top: 30px;
}

.green-button {
  background-color: #00b38f;
  border: 1px solid white;
  border-radius: 3px;
  height: 60px;
  width: auto;
  padding: 0 1%;
  color: white;

}

i.mydownload {
  font-size: 20px;
  width: 30px;
}

#fix {
  text-align: left;
}

.lineum {
  background-color: #66a1cd;
}

#myfix2 {
  color: black;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
  padding: 5% 0;
}

#submit {
  margin-top: 30px;
  background-color: #00b38f;
  border: 1px solid white;
  border-radius: 7px;
  height: 40px;
  width: auto;
  padding: 0 1%;
  color: white;

}

.circle {
  width: 50px;
  height: auto;
  margin-right: 1%;
  border-radius: 100%;
  border: 1px solid white;
  display: inline-block;
}

.circle span i{
  display: inline-block;
  width: 50px;
  padding: 10px;
}

footer section p {
  color: white;
}

p span {
  color: green;
  font-size: 15px;
}

@media (max-width: 1200px) AND (min-width: 768px) {

  .width60 {
    width: 90%;
  }

  img {
    height: 200px;
    width: auto;
  }

  .row h1 {
    font-size: 50px;
  }

}

h6, h5 {
  margin: 2% 0;
  text-align: center;
  color: white;
}

@media (max-width: 768px) {
  .width60 {
    width: 100%;
  }

  img {
    height:300px;
    width: auto;
  }

  .row h1 {
    font-size: 40px;
  }

  .width50 {
    width: 100%;
  }

  .fixedfix {
    margin-top: 104px;
  }

  #fix {
    padding: 0 20%;
  }

}
